ALPACA_API_KEY=PK***********
ALPACA_SECRET_KEY=******************
ALPACA_PAPER=True

# CONFIG LANGSMITH (Observabilité)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="ta-cle-langsmith-ici"
LANGCHAIN_PROJECT="trading-bot-v1"

# CONFIGURATION DE LA RECHERCHE WEB
NEWS_API_KEY=************************

# CONFIGURATION DU MODELE
MODEL="minimax/minimax-m2.5:free"

#Openrouteure API key
OPENROUTER_API_KEY=sk-exemple-openrouter-key-ici
